{
  "minUploadRate": {{ joal_min_upload_rate }},
  "maxUploadRate": {{ joal_max_upload_rate }},
  "simultaneousSeed": {{ joal_simultaneous_seed }},
  "client": "{{ joal_client }}.client",
  "keepTorrentWithZeroLeechers": {{ joal_keep_torrent_with_0_leecher }}
}